.card {
    max-width: 100%;
    width: 100%;
    padding: 4rem;
    background-color: rgb(46, 45, 45);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

@media(max-width:768px) {
    .card {
        width: 100%;
        padding: 1.5rem
    }
}

h3 {
  
    color: white;
    display: inline-block;
}
